<div class="row">
      <!-- <div class="col-lg-12">
      	<h1 class="page-header">Car Catalog</h1>
      </div> -->
      <div class="panel panel-default">
  		<!-- Default panel contents -->
  		<div class="panel-heading">
			<label >Find By Brand
				<input type="text" ng-model="search" placeholder="Search here">
			</label>
  		</div>

  		<!-- Table -->
  		<table class="carList table">
    		<thead>
    			<tr>
	    			<th>Brand</th>
	    			<th>Model</th>
	    			<th>Image</th>
	    			<th>Year</th>
	    			<th>Price</th>
	    			<th></th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr ng-repeat="car in carList | filter: search ">
    				<td>{{car.brand}}</td>
	    			<td>{{car.model}}</td>
	    			<td>
	    				<a href="#/cars/{{car.code}}">
	    					<img class="img-thumbnail img-responsive" src="images/{{car.img}}" alt="{{car.brand}} {{car.model}} - {{car.year}}">
	    				</a>
	    			</td>
	    			<td>{{car.year}}</td>
	    			<td>{{car.price}}</td>
	    			<td>
	    				<a href="#/cars/{{car.code}}" class="btn btn-primary" role="button">More about this car</a> 
	    				<a href="#/compare/{{car.code}}" class="btn btn-default" role="button">Compare</a>
	    			</td>
    			</tr>
    		</tbody>		
    		<tfoot>
    			
    		</tfoot>
  		</table>
	  </div>
</div>